<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%#  we can add a conditional statement to find out if the user is logged in or if the current user exist.  %>  
    <% if (currentUser) {%>
    <p>Welcome to <%= currentUser.username %></p>
    <a href="/members/post/create"> Create new new message </a> 
    <%}%>
    
    <% if (currentUser && currentUser.member_status !== "Member" ) {%>
      <a href="/join-the-club">JOIN THE CLUB</a>    
    <% } else { %>
      <% if (currentUser && currentUser.member_status == "Member" ) {%>
       <p>Welcome to the club <%= currentUser.first_name %></p>
       <%}%> 
    <%}%>
      
    <% if (user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>
      <a href="/log-out">LOG OUT</a> <br/> <br/>
    <% } else { %>
    <h1>please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
    <%}%>  

    <%= messages[0].content %> <br/>

      <% if (currentUser && currentUser.member_status === "Admin") {%>
        <% for(let i = 0; i < messages.length; i++ ){ %>
          <ul>
            <li> Title: <%= messages[i].title %></li>
            <li> Content: <%= messages[i].content %></li>
            <li> Author: <%= messages[i].author %></li>
            <li> Time Stamp: <%= messages[i].time_stamp %></li>
            <a href="/members/post/create"> Delete this message </a>
         </ul>
        <% } %>
        <%}%>
  
      <% if (currentUser && currentUser.member_status === "Member") {%>
        <% for(let i = 0; i < messages.length; i++ ){ %>
          <ul>
            <li> Title: <%= messages[i].title %></li>
            <li> Content: <%= messages[i].content %></li>
            <li> Author: <%= messages[i].author %></li>
            <li> Time Stamp: <%= messages[i].time_stamp %></li>
          </ul>
        <% } %>
        <% } else {%>
          <% for(let i = 0; i < messages.length; i++ ){ %>
            <ul>
              <li> Title: <%= messages[i].title %></li>
              <li> Content: <%= messages[i].content %></li>
            </ul>
          <% } %>
        <%}%> 


  </body>
</html>
