<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%#  we can add a conditional statement to find out if the user is logged in or if the current user exist.  %>  
    <% if (currentUser) {%>
    <p>Welcome to <%= currentUser.member_status %></p>
    <%}%>
    
    <% if (currentUser && currentUser.member_status !==  ) {%>
      <p>Welcome to <%= currentUser.member_status %></p>
      <%}%> 

    <% if (user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>
      <a href="/log-out">LOG OUT</a>
    <% } else { %>
    <h1>please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
    <%}%>  
  </body>
</html>
